$body-bg: hsl(0, 0%, 75%);
$primary: hsl(44.71, 100%, 50%);
$secondary: hsl(45.76, 43.7%, 73.53%);
$success: hsl(145, 100%, 49%);
$info: hsl(313, 98%, 18%);
$warning: hsl(47, 96%, 59%);
$danger: hsl(0, 95%, 47%);
$light: hsl(204, 8.2%, 96.08%);
$dark: hsl(150, 2.33%, 16.86%);
$grey: hsl(174, 8.33%, 23.53%);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
